/*** 공통 적용 css ***/
body {
    width: 100vw;
    height: 100dvh;
    margin: 0;
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    overflow-x: hidden;
    box-sizing: border-box;
}

/* 클릭하지 않은 링크, 클릭했던 링크, 마우스 오버시, 마우스 누르는동안 텍스트 색상 */
a :link, a:visited, a:hover, a:active {
    color: #000;
}

a {
    text-decoration: none;
}

ul {
   padding: 0;
}

li {
    list-style-type: none;
}